<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Machine Learning</div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
   <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Supervisionado
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
      <i class="fas fa-fw fa-cog"></i>
      <span>KNN</span>
      <i class="fas fa-angle-down" style="float:right"></i>
    </a>
    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
      <nav class="sb-sidenav-menu-nested nav py-2 collapse-inner rounded">
          <a class="nav-link" href="buttons">Static Navigation</a>
          <a class="nav-link" href="cards">Light Sidenav</a>
      </nav>
    </div>
  </li>

  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="glossario">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Glossário</span></a>
  </li>
   <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="teste">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Teste</span></a>
  </li>
</ul>